
.container{
    //padding: 25px;
   // margin-top:2%;
    margin-left: 5%;
    margin-right:5% ;
    //margin-bottom:10% ;
    background-color: rgb(240, 222, 206);
    border-radius: 7px;
}
    input{
        margin-left:2%;
    }
#sbt{
    margin-bottom:8px;
   // margin-left:5%
}
